.boardes{
    display: flex;   
    width: 800px;
    height: 800px;
    background-color: brown;
    border: 5px solid rgba(165, 140, 58, 0.781);
}
 .chessrow{
    width: 100%;
    padding: 0;
 }
.square.black{
    background-color: rgb(68, 39, 39);
}

.square.white{
    background-color: rgb(240, 235, 235);
}
.square{
    display: flex;
    justify-content: center;
    border: solid 1px black;
    height: 99px;
}
.piece{
    width: 80px;
    height: 80px;
}
.piece:hover{
    width: 90%;
    height: 90%;
    transition-duration: 100ms;
    cursor: grab;
}
.piece:active{
    cursor: grabbing;
}
.piece:active{
    background-color: rgba(100, 35, 35, 0.795);
    background-repeat: repeat;
}

