.boardes {
    display: flex;
    width: 800px;
    height: 800px;
    background-color: brown;
    border: 5px solid rgba(165, 140, 58, 0.781);
  }
  
  .chess-game {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
    float: left; 
  }
  
  .chessrow {
    width: 100%;
    padding: 0;
  }
  
  .square.black {
    background-color: rgb(68, 39, 39);
  }
  
  .square.white {
    background-color: rgb(240, 235, 235);
  }
  
  .square {
    display: flex;
    justify-content: center;
    border: solid 1px black;
    width: 100%;
    height: 99px;
  }
  
  .piece {
    width: 80px;
    height: 80px;
  }
  
  .piece:hover {
    width: 90%;
    height: 90%;
    transition-duration: 100ms;
    cursor: grab;
  }
  
  .piece:active {
    cursor: grabbing;
  }
  
  .piece:active {
    background-color: rgb(248, 181, 57);
    background-repeat: repeat;
  }
 

  

  .blackbox{
    text-align: center;
    border: solid white 2px;
    background-color: black;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
    width: 120px;
  }

  .whitebox{
    text-align: center;
    border: solid black 2px;
    border-radius: 10px;
    background-color: white;
    color: black;
    margin-top: 20px;
    width: 120px;
  }

  .infobox{
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;
    align-items: center;
    height: 400px;
    width: 400px;
    margin-top: 80px;
    border: solid 1px black;
    background-color: rgb(90, 48, 1) ;
    border: 2px solid rgb(151, 98, 0);
    padding: 3px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }

  .messageList{
    list-style: none;
    color:rgb(173, 117, 13) ;
  }
  .lideco{
    list-style: none;
  }
  .messageBox{
    width: 100%;
    background-color: rgb(90, 48, 1) ;
    border: 2px solid rgb(151, 98, 0);
    padding: 3px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  .paragraph{
    background-color: rgb(90, 48, 1) ;
    border: 2px solid rgb(151, 98, 0);
    padding: 3px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }

  .textboxcolor{
    background-color: rgb(90, 48, 1) ;
    border: 2px solid rgb(151, 98, 0);
    color: rgb(173, 117, 13);
    padding: 3px;
  }

  @media (max-width: 756px) {
    .boardes {
      margin-left: 0vh;
      width: 600px;
      height: auto;
      max-width: 550px;
      padding: 10px;
      background-color: rgba(165, 140, 58, 0.781);
      box-sizing: border-box;
    }
  
    .chess-game {
      margin-top: 30px;
    }
  
    .square {
      height: 65px;
    }
  
    .piece {
      width: 50px;
      height: 50px;
    }
    .infobox{
      width: 100%;
    }
    .textboxcolor{
      width: 80%;
    }
  
    .piece:hover {
      width: 90%;
      height: 90%;
    }
    .chess-game {
      margin-left:none;
      margin-top: 100px;
      float: none;
    }
  }
 
  @media (max-width: 576px) {
    .boardes {
      margin-left: 0vh;
      width: 100vh;
      height: auto;
      max-width: 550px;
      padding: 10px;
      background-color: rgba(165, 140, 58, 0.781);
      box-sizing: border-box;
    }

    .infobox{
      width: 100%;
    }
  
    .chess-game {
      margin-top: 30px;
    }
  
    .square {
      height: 65px;
    }
  
    .piece {
      width: 50px;
      height: 50px;
    }
  
    .piece:hover {
      width: 90%;
      height: 90%;
    }
    .chess-game {
      margin-top: 100px;
      margin-left:0px;
    }
  }