.board{
    display: flex;
    flex-wrap: wrap;
    grid-column: auto;
    width: 800px;
    height: 800px;
    background-color: brown;
}
.square.black{
    background-color: rgb(68, 39, 39);
}

.square.white{
    background-color: rgb(240, 235, 235);
}

.cell.white{
    background-color: rgba(255, 255, 255, 0.233);
}
.cell.black{
    background-color: rgb(13, 48, 31);
}
.square{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
}
.piece{
    width: 80px;
    height: 80px;
}
.piece:hover{
    cursor: grab;
}
.piece:active{
    cursor: grabbing;
}