.board{
    display: flex;
    flex-wrap: wrap;
    grid-column: auto;
    width: 800px;
    height: 800px;
    background-color: brown;
}
.square.black{
    background-color: rgb(68, 39, 39);
}

.square.white{
    background-color: rgb(240, 235, 235);
}
.square{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
}
.piece{
    width: 80px;
    height: 80px;
}
.piece:hover{
    width: 100%;
    height: 100%;
    transition-duration: 100ms;
    cursor: grab;
}
.piece:active{
    cursor: grabbing;
}
.piece:active{
    background-color: rgba(100, 35, 35, 0.795);
}